.HomePage {
  padding: 50px 0 22vh 0;
  position: relative;

  .main-carousel {
    overflow: hidden;
  }

  .collection-header {
    font-size: 40px;
  }

  .collection-carousel {
    margin-left: 40px;
  }

  .react-multiple-carousel__arrow {
    z-index: 2;
  }
}
