.amiiboLibraryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.amiiboLibraryCardsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}