.SortBySelect {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;

  label {
    pointer-events: none;
    margin-right: 10px;
  }

  select {
    border: 1px solid black;
    font-size: medium;
    border-radius: 8px;
    padding: 5px 10px;
    height: fit-content;
    cursor: pointer;
  }
}
