.amiiboDetailsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.amiiboDetailsBackground {
    position: absolute;
    height: 300px;
    width: 100vw;
    z-index: -1;
    filter: saturate(4);
}

.amiiboDetailsNameHeader {
    margin: 10px 0 0 0;
}

.amiiboDetailsSeriesHeader {
    margin: 0 0 20px 0;
}

.amiiboDetailsDetails {
    margin: 5px;
}

.amiiboDetailsReleaseDates {
    list-style-type: none;
    margin: 5px;
}

.amiiboDetailsImage {
    margin-bottom: 10px;
}

.amiiboDetailsTextBoxContainer {
    margin-top: 5px;
}