.Footer {
  margin-top: 20px;
  width: 100%;
  min-height: 200px;
  background: #494949;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .disclaimer {
    margin: 20px;
  }

  .terms-of-service {
    margin: 0px 20px 20px 20px;
    color: white;
  }
}
